# 일반적인 Python 관련 파일 무시
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# 가상환경 무시
venv/
env/
*.env

# IDE 및 에디터 관련 파일 무시
.vscode/
.idea/
*.iml

# Django 관련 파일 무시
db.sqlite3
*.log

# Static 및 Media 파일 무시 (필요에 따라 조절)
staticfiles/
media/

# 환경 설정 파일 (개인 정보 포함 가능)
*.env
.env.*

# 배포 관련
*.pid
